body {
  background-color: gainsboro; }

div.main-wrapper {
  padding: 0 8%; }

header {
  display: flex; }
  header div.logo img {
    width: 100%; }
  header nav {
    display: table;
    width: 100%;
    height: 5%;
    border-top: 1px solid #617d8a;
    border-bottom: 1px solid #617d8a;
    padding: 23px 0px;
    margin-top: 180px;
    align-items: center; }
    header nav a {
      font-family: serif;
      text-align: center;
      text-decoration: none;
      color: #fc5830;
      display: table-cell;
      text-transform: uppercase;
      width: 30%; }

div.toolbar {
  text-align: right; }
  div.toolbar input {
    height: 35px;
    width: 18%;
    color: #fc5830;
    border: 1.25px solid #fc5830;
    padding-left: 1%;
    background-color: transparent; }
  div.toolbar input::placeholder {
    color: #fc5830;
    font-size: 15px; }

#list {
  display: table; }
  #list article:nth-child(odd) {
    margin-right: 22px; }
  #list article {
    display: table-cell;
    float: left;
    width: 49%;
    margin-top: 20px;
    background-color: #ffffff;
    font-family: serif;
    color: #bfbfbf; }
    #list article img {
      padding-top: 3%;
      padding-left: 3%;
      padding-right: 3%;
      width: 94%; }
    #list article div {
      padding: 5px 22px 15px 28px;
      width: 90%; }
    #list article div.post-description {
      color: #bfbfbf;
      padding: 0;
      padding-left: 1%; }
    #list article h3 {
      font-size: 1.6em;
      text-transform: uppercase;
      border-top: 1px solid #bfbfbf;
      padding-top: 5px;
      margin: 12px 0 0 0; }
    #list article p {
      color: #757575;
      font-family: serif;
      font-size: 1.14em;
      margin: 8px 0 18px 0;
      line-height: 30px; }

#about {
  font-family: serif; }
  #about div h1 {
    text-transform: uppercase;
    text-align: right;
    color: #fc5830; }
  #about div p {
    color: #757575;
    font-size: 1.12em; }

#contact {
  text-align: right;
  margin-top: 60px; }
  #contact h1,
  #contact h4 {
    color: #fc5830;
    font-weight: 800;
    font-size: 1.5em;
    line-height: 15%;
    text-transform: uppercase; }
  #contact h4 {
    font-size: 1em; }
  #contact form {
    margin-top: 20px;
    width: 100%; }
    #contact form input,
    #contact form textarea {
      width: 95%;
      margin-bottom: 20px;
      padding: 15px 20px;
      border: 1px solid #757575;
      background: gainsboro; }
    #contact form textarea::placeholder,
    #contact form input::placeholder {
      font-size: 15px; }
    #contact form .submit-btn {
      background-color: #fc5830;
      color: white;
      width: 200px;
      height: 40px;
      border: none;
      font-weight: bold;
      cursor: pointer; }
      #contact form .submit-btn:hover {
        background-color: #fd8162; }
      #contact form .submit-btn:active {
        background-color: #f53304; }
