body{
    background-color: $backgroundColor;
}

div.main-wrapper{
    padding: 0 8%;
}

header {
    display: flex;   
    div.logo{
        img{
            width: 100%;
        }
    }

    nav{
        display: table;
        width: 100%;
        height: 5%;
        border-top: 1px solid $navLineColor;
        border-bottom: 1px solid  $navLineColor;
        padding: 23px 0px;
        margin-top: 180px;
        align-items: center;
        a{
            font-family: $fontFamily;
            text-align:  center;
            text-decoration: none;
            color: $mainColor;
            display: table-cell;
            text-transform: uppercase;
            width: 30%;
        }
    }
}

div.toolbar{
    text-align: right;
    input{
        height: 35px;
        width: 18%;
        color: $mainColor;  
        border: 1.25px solid $mainColor;
        padding-left: 1%;
        background-color: transparent;
        
    }
    input::placeholder{
        color: $mainColor;
        font-size: 15px;    
    }
}

#list
{

    display: table;

    article:nth-child(odd)
    {
        margin-right: 22px;
    }

    article{
        display: table-cell;
        float: left;
        width: 49%;
        margin-top: 20px;
        
        background-color: $cardColor; 
        font-family: $fontFamily;
        color:$postDescription;
        img{

            padding-top: 3%;
            padding-left: 3%;
            padding-right: 3%;
            width: 94%


        }
        div{    
            padding: 5px 22px 15px 28px;
            width: 90%
        }
        div.post-description{
            color: $postDescription;
            padding: 0;
            padding-left: 1%;
        }
        h3{
            font-size: 1.6em;
            text-transform: uppercase;
            border-top: 1px solid $postDescription;
            padding-top: 5px;
            margin: 12px 0 0 0;
        }
        p{
            color: $pColor;
            font-family:$fontFamily;
            font-size: 1.14em;
            margin: 8px 0 18px 0;
            line-height: 30px;
        }

    }
}
#about{
    font-family: $fontFamily;
    div{

        h1{
            text-transform: uppercase;
            text-align: right;
            color: $mainColor;
        }
        
        p{
            color: $pColor;
            font-size: 1.12em;
        }
    }
}

#contact{
    text-align: right;
    margin-top: 60px;

    h1,
    h4{
        color: $mainColor;
        font-weight: 800;
        font-size: 1.5em;
        line-height: 15%;
        text-transform: uppercase;
    }
    h4{
        font-size: 1em;
    }

    form{
        margin-top: 20px;
        width: 100%;

        input,
        textarea{
            width: 95%;
            margin-bottom: 20px;
              padding: 15px 20px;
              border: 1px solid $formColor;
              background: $backgroundColor;
        }

        textarea::placeholder,
        input::placeholder{
            font-size: 15px;
        }

        .submit-btn{
            background-color: $mainColor;
            color: white;
            width: 200px;
            height: 40px;
            border: none;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                background-color: lighten($mainColor, 10);
            }

            &:active {
                background-color: darken($mainColor, 10);
            }
        }

    }
}

footer{
     
    padding-left: 15px;

}
