$fontFamily: serif;
$backgroundColor: gainsboro;
$cardColor: #ffffff;
$mainColor: #fc5830;
$cardHeader: #617d8a;
$navLineColor: #617d8a;
$postDescription: #bfbfbf;
$pColor: #757575;
$formColor: #757575;