$fontFamily: sans-serif;
$backgroundColor: white;
$cardColor: gainsboro;
$mainColor: #39b5d5;
$cardHeader: #1697a6;
$navLineColor: #305075;
$postDescription: darkcyan;
$pColor: rgb(109, 140, 160);
$formColor: #757575;